<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../Style/website.css">
    <link rel="icon" href="../img/favicon.ico">

    <meta charset="utf-8">
    <title>Amankwah Clinton</title>
  </head>
  <body>
    <div class="topnav">
      <a href="Projects.html">My Work</a>
      <a href="About.html"> About</a>
      <a href="Contact.html">Contact</a>
    </div>
    <div class="flex-container">
      <h1> Amankwah Clinton</h1>
      <h2>Front-End, and Back-End Developer</h2>
    </div>
    </body>
</html>
